<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        login_page
    </title>
    <style>
        #head {
            position: absolute;
            top: 15%;
            left: 38%;
            font-size: 50px;
            color: blue;
        }

        #email {
            position: absolute;
            top: 40%;
            left: 40%;
            font-size: 25px;
        }
        #password{
            position: absolute;
            top: 48%;
            left: 40%;
            font-size: 25px;
        }
        #submit{
            position: absolute;
            top: 55%;
            left: 40%;
        }
        #login_font{
            font-size: 20px;
        }
        #id2{
            size: 300px;
        }
    </style>
</head>

<body>
    <h1 id="head">Tourist in Tour</h1>
    <form>
        <div id="email">
            <td><label for="id1">이메일</label></td>
            <td><input id="id1" type="email"></td>
        </div>
        <div id="password">
            <td><label for="id2">비밀번호</label></td>
            <td><input id="id2" type="password"></td>
        </div>
        <div id="submit">
            <button>
                <span id="login_font">
                    로그인
                </span>
            </button>
        </div>
    </form>
</body>

</html>